.welcome-text {
  font-size: 45px;
  font-weight: bold;
}

.main-page {
  animation: appear 1s both;
}

.about-me {
  margin-bottom: 80px;
  width: 50%;
}

.highlights {
  width: 50%;
}

.highlights p {
  max-width: 60%;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-top: 50px;
  width: 90%;
  /* center it */
  margin-left: auto;
  margin-right: auto;
}

.highlights img {
  border-radius: 35px;
  padding: 20px;
}

@keyframes appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
