body{
    text-align: center;
    background-color: #121212;
    color: #eeeeee;
}

button{
    background-color: #bb86fc;
    color: #040207;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}